#deck {
	width: 100%;
	display: grid;
	grid-template-rows: 100%;
/*
    grid-template-columns en js
*/
}
.card {
  border: none;
  border-radius: 2%;
	box-shadow: -0.1rem 0 0.4rem black;
  height: 5em;
}
.card.ok {
  cursor: pointer;
}
.card.ok:hover {
  margin: 1em 0 0 0;
}
#card0, #card1, #card2, #card3, #card4, #card5,
#card6, #card7, #card8, #card9, #card10, #card11,
#card12, #card13, #card14, #card15, #card16, #card17,
#card18, #card19, #card20, #card21, #card21  {
  grid-row: 1 / 2;
}
/*
    grid-column en js
*/