@import "reset.css";
@import "buttons.css";
/* 
@font-face {
  font-family: ___nom perso pour la font des textes___;
  src: url(../assets/fonts/___fichier de font___);
}
@font-face {
  font-family: ___nom perso pour la font des titres___;
  src: url(../assets/fonts/___fichier de font___);
}
*/
html {
  /* taille moyenne de font en mobile-first et référence rem pour la page */
  font-size: 14px;
}
body {
  font-size: 1rem;
  /* 
    font-family: ___nom perso pour la font des textes___;
    color: ___couleur de la font___;
    text-align: ___alignement textes et éléments___;
    background: ___image et/ou couleur de fond___;
  /*
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  justify-content: center;
  padding: 20px;*/
}
#draw {
  width: 100%;
   height: 100vh;
}
#diviner {

  width: 45%;
  

}
#deck {
  width: 100%;
   height: 20%;
}
h1,
h2 {
  font-size: 2rem;
  /*
    font-family: ___nom perso pour la font des titres___;
    */
}
h2 {
  font-size: 1.5rem;
  /*
    font-size: ___taille moyenne de font des sous-titres___;
    */
}
span {
  font-size: 0.5rem;
}
img {
  margin: 5px;
  width: 50px;
}
main {
  display: flex;
  justify-content: center;
}
#deck,
#answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* responsive mobile-first */
@media (min-width: 640px) {
  /* tablettes */
  html {
    /* taille moyenne de font et référence rem pour la page */
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  /* grands écrans */
  html {
    /* taille moyenne de font et référence rem pour la page */
    font-size: 18px;
  }
}
