@import "reset.css";
@import "buttons.css";


/* Importation de la font Kalnia Glaze depuis Google Fonts */
/*

@font-face {
  
.kalnia-glaze-<uniquifier> {
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@font-face {
  .kalnia-glaze-<uniquifier> {
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



body {
  
  font-size: 1rem;
  .kalnia-glaze-<uniquifier> {
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  justify-content: center;
  padding: 20px;*/







@keyframes drift1 { from { background-position: 0 0 } to { background-position: -9000px 9000px } }
@keyframes drift2 { from { background-position: 0 0 } to { background-position: -12000px 6000px } }
@keyframes drift3 { from { background-position: 0 0 } to { background-position: -15000px 3000px } }

body {
  background: radial-gradient(circle at 30% 20%, #2e1a23 0%, #0f0f1e 100%);
  color: #e8e8ff;
  font-family: 'Cinzel', serif;
}
#draw {
  width: 100%;
   height: 100vh;
}
#diviner {

  width: 45%;
  

}
#deck {
  width: 100%;
   height: 20%;
}
h1,
h2 {
  font-size: 2rem;
  /*
    font-family: ___nom perso pour la font des titres___;
    */
}
h2 {
  font-size: 1.5rem;
  /*
    font-size: ___taille moyenne de font des sous-titres___;
    */
}
.small {
  font-size: 0.5rem;
}
img {
  margin: 5px;
  width: 50px;
}
main {
  display: flex;
  justify-content: center;
}
#deck,
#answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* responsive mobile-first */
@media (min-width: 640px) {
  /* tablettes */
  html {
    /* taille moyenne de font et référence rem pour la page */
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  /* grands écrans */
  html {
    /* taille moyenne de font et référence rem pour la page */
    font-size: 18px;
  }
}
